<div class="container-fluid">
    <div class="col-xs-4 col-md-3">
        <input placeholder="Filter by Account name"
               class="form-control"
               (input)="onFilterTable($event.target.value)"/>
    </div>

    <button class="btn bg-primary" [routerLink]="['/accounts/create']">Create</button>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th *ngFor="let column of columns"
                [class.sortAsc]="column.sort === 'asc'"
                [class.sortDesc]="column.sort === 'desc'"
                (click)="sortBy(column)"> {{column.title}}
            </th>
            <th width="80px">View</th>
            <th width="85px">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows" [@flyIn]="row.id">
            <td *ngFor="let column of columns">{{row[column.name]}}</td>
            <td><button class="btn btn-info center-block" [routerLink]="['/accounts', row.id]">View</button></td>
            <td><button class="btn btn-danger center-block" (click)="onDelete(row.id)">Delete</button></td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="!rows.length" class="col-xs-12 text-center">No results</div>

    <div [hidden]="pagination.totalItems <= pagination.limit" class="col-xs-12 text-center">
        <pagination class="pagination-sm"
                    [(ngModel)]="pagination.page"
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.limit"
                    [maxSize]="pagination.maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangePage($event.page)">
        </pagination>
    </div>
</div>
