div.container-fluid {
  padding-top: 40px;
  min-width: 700px;

}

.table {
  margin-top: 20px;
  font-size: 0.9rem;
  table-layout: fixed;
  border-radius: 10px;

  .sortAsc::after {
    font-family: 'Glyphicons Halflings';
    content:"\e253";
  }

  .sortDesc::after {
    font-family: 'Glyphicons Halflings';
    content:"\e252";
  }

  th {
    cursor: pointer;
    text-align: center;
    user-select: none;
  }

  td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .btn {
      padding: 5px 10px;
    }
  }

  @media all and (max-width: 767px) {
    font-size: 0.8rem;
  };
}